@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*Semantically in order of index.html */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: #1D267d;
    border: 10px solid #0C134F;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 20px;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5C469C;
    width: 120px;
    height: 30px;
    border: 2px solid #0C134F;
    border-radius: 20px;
    overflow: hidden;

}

nav li:hover {
    background-color: #D4ADFC;
} 

nav a:link {
    text-decoration: none;
    color: #D4ADFC;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 3px;
}

nav a:visited {
    text-decoration: none;
    color: #D4ADFC;
    width: 100%;
    height: 100%;
    text-align: center;
}

nav a:hover {
    color: #5C469C;
    background-color: #D4ADFC;
}

main {
    margin-top: 150px;
    display: flex;
}

main h1 {
    color: #D4ADFC;
    filter: drop-shadow(0px 3px 0px #0C134F);
    font-size: 96pt;
    text-align: left;
    margin-bottom: 70px;
    margin-left: 60px;
}

main h2 {
    color: #D4ADFC;
    filter: drop-shadow(0px 3px 0px #0C134F);
    font-size: 24pt;
    text-align: left;
    width: 70%;
    margin-left: 65px;
}

.heading-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
}

main img {
    width: 300px;
}

.image-wrapper {
    
}


@media only screen and (min-width: 768px) and (max-width: 1199px) {
    /* Styles for tablets */
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin-bottom: 20px;
    }
  }


@media only screen and (max-width: 767px) {
    /* Styles for mobile devices */
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin-bottom: 20px;
    }
  }


