* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: #1D267d;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.border-container {
    position: relative;
    border: 10px solid #0C134F;
    min-height: 100vh;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-top: 20px;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5C469C;
    width: 120px;
    height: 30px;
    border: 2px solid #0C134F;
    border-radius: 20px;
    overflow: hidden;
}

nav li:hover {
    background-color: #D4ADFC;
} 

nav a:link,
nav a:visited {
    text-decoration: none;
    color: #D4ADFC;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 3px;
}

nav a:hover {
    color: #5C469C;
    background-color: #D4ADFC;
}

main {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.container {
    display: flex;
    justify-content: space-between;
}

main h1 {
    color: #D4ADFC;
    filter: drop-shadow(0px 3px 0px #0C134F);
    font-size: 96pt;
    font-weight: 300;
    text-align: left;
    margin-bottom: 70px;
    margin-left: 60px;
}

main h2 {
    color: #D4ADFC;
    filter: drop-shadow(0px 3px 0px #0C134F);
    font-size: 24pt;
    font-weight: 300;
    text-align: left;
    width: 70%;
    margin-left: 65px;
    margin-bottom: 20px;
}

.heading-wrapper {
    display: flex;
    flex-direction: column;
    width: 46%;
}

.image-wrapper {
    width: 47%;
    display: flex;
}

main img {
    width: 400px;
    border-radius: 30px;
    margin: 20px;
    border: 5px solid #0C134F;
}

main .btn:link {
    display: inline-block;
    width: 300px;
    padding: 10px 20px;
    background-color: #5C469C;
    color: #D4ADFC;
    text-decoration: none;
    border: 2px solid #0C134F;
    border-radius: 5px;
    margin-left: 60px;
    margin-top: -120px;
    font-size: 22px;
    text-align: center;
}

main .btn:visited {
    color: #D4ADFC;
    border: 2px solid #0C134F;
}

main .btn:hover {
    background-color: #D4ADFC;
    color: #5C469C;
}

 @media only screen and (min-width: 1200px) {
    /* Styles for full desktop screens */
    main .btn:link {
        margin-bottom: 500px;
    }
}  

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    /* Styles for tablets */
    nav ul {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    nav li {
        margin: 0px 30px 0px 30px;
    }

    main {
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .heading-wrapper {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .heading-wrapper h1 {
        text-align: center;
        margin: 0 auto 40px;
    }

    .heading-wrapper h2 {
        text-align: center;
        margin: 0 auto;
    }

    .image-wrapper {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    main img {
        width: 300px;
    }

    main .btn:link {
        margin: 0 auto 20px;
        width: 100%;
        max-width: 200px;

    }
}

@media only screen and (max-width: 767px) {
    /* Styles for mobile devices */

    nav ul {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    nav li {
        margin-bottom: 20px;
        width: 150px;
        height: 60px;
    }

    nav a:link, nav a:visited {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.25rem;

    }

    main {
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .heading-wrapper {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .heading-wrapper h1 {
        text-align: center;
        margin: 0 auto 40px;
    }

    .heading-wrapper h2 {
        text-align: center;
        margin: 0 auto;
    }

    .image-wrapper {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    main img {
        width: 300px;
    }

    main .btn:link {
        margin: 0 auto 20px;
        width: 100%;
        max-width: 200px;
        font-size: 1.25rem;

    }

}


/*Animations section*/

