@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  background-color: #1d267d;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.border-container {
  position: relative;
  border: 15px solid #0c134f;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
}

header {
    display: flex;
    justify-content: center;
}

.top-menu {
  display: flex;
  justify-content: center;
  width: max-content;
  background-color: #0c134f;
  padding: 10px 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.top-menu ul {
  list-style: none;
  display: flex;
}

.top-menu li {
  /* margin: 0 10px; */
  font-size: 14pt;
}

.top-menu a {
  text-decoration: none;
  color: #d4adfc;
  padding: 5px 10px;
  border: 2px solid #0c134f;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.top-menu a:hover {
  background-color: #d4adfc;
  color: #5c469c;
}

main {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.container {
  display: flex;
  justify-content: space-between;
}

.contact-page .container {
    justify-content: center;
    margin-top: 80px;
}

main h1 {
  color: #d4adfc;
  filter: drop-shadow(0px 3px 0px #0c134f);
  font-size: 96pt;
  font-weight: 300;
  text-align: left;
  margin-bottom: 40px;
  margin-left: 70px;
}

main h2 {
  color: #d4adfc;
  filter: drop-shadow(0px 3px 0px #0c134f);
  font-size: 24pt;
  font-weight: 300;
  text-align: left;
  margin-left: 70px;
  margin-bottom: 30px;
}

.contact-page main {
    margin-top: 100px;
}

.contact-page h2,
.projects-page h2,
.about-page h2 {
    text-align: center;
    width: 100%;
    margin: 20px auto;
}

.heading-wrapper {
  display: flex;
  flex-direction: column;
  width: 46%;
}

.image-wrapper {
  width: 47%;
  display: flex;
}

main img {
  width: 100%;
  max-width: 350px;
  border-radius: 30px;
  border: 5px solid #0c134f;
}

main .btn:link,
main .btn:visited {
  display: inline-block;
  width: 300px;
  padding: 10px 20px;
  background-color: #5c469c;
  color: #d4adfc;
  text-decoration: none;
  border: 2px solid #0c134f;
  border-radius: 5px;
  margin-left: 70px;
  font-size: 22px;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

main .btn:hover {
  background-color: #d4adfc;
  color: #5c469c;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/*Contact Page Only*/
.contact-box {
    background-color: #0c134f;
    height: max-content;
    min-height: 400px;
    width: 400px;
    border-radius: 20px;
    margin: auto 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-box h3 {
    color: #d4adfc;
    margin-top: 20px;
}

.contact-box form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
}

.contact-box label {
  color: #d4adfc;
  font-size: 12pt;
  margin: 10px 0 5px 0;
  align-self: flex-start;
}

.contact-box .contact-input {
  width: 90%;
  min-width: 350px;
  resize: none;
  padding: 5px;
}

.contact-box .submit-btn {
  background-color: #5c469c;
  color: #d4adfc;
  width: 50%;
  font-size: 14pt;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 15px 20px;
  border: 2px solid #0c134f;
  border-radius: 5px;
  margin-top: 10px; 
  margin-bottom: 10px; 
}

.contact-box .submit-btn:hover {
  background-color: #d4adfc;
  color: #5c469c;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.contact-box ul {
  list-style: none;
  color: #d4adfc;
  margin-top: 20px;
}

.contact-box li {
  margin: 20px auto 40px auto;
  text-align: left;
  font-size: 14pt;
}

.icon.fa-square-github,
.icon.fa-linkedin {
  color: #5c469c; 
  transform: scale(2);
  margin: auto 30px auto 30px;
  margin-top: 30px;
  transition: color 0.3s ease, transform 0.3s ease, margin-top 0.3s ease;
}

.icon.fa-square-github:hover {
  color: #d4adfc;
  transform: scale(2.2); 
  margin-top: 20px; 
}

.icon.fa-linkedin:hover {
  color: #d4adfc;
  transform: scale(2.2);
  margin-top: 20px; 
}

/*Project Page*/

.projects-page main {
  display: flex;
  align-items: center;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 60%;
  margin: 0 auto;
}

.carousel-item {
  display: none;
  flex-direction: column;
  align-items: center;
}


.carousel-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 0;
}

.repo-link {
  background-color: #5c469c;
  color: #d4adfc;
  padding: 10px 20px;
  border: 2px solid #0c134f;
  border-radius: 5px;
  margin: 10px 5px 10px 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.prev-btn,
.next-btn {
  background-color: #5c469c;
  color: #d4adfc;
  padding: 10px 20px;
  border: 2px solid #0c134f;
  border-radius: 5px;
  margin: 0 5px 10px 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 50vw;
  max-width: 400px;
}

.prev-btn:hover,
.next-btn:hover,
.repo-link:hover {
  background-color: #d4adfc;
  color: #5c469c;
}

/*About page*/
.about-page main {
  padding: 20px;
}

.about-page .content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.about-page .about-section,
.about-page .skills-section,
.about-page .experience-section {
  width: 80%;
  margin-bottom: 30px;
  text-align: left;
}

.about-page h3 {
  color: #d4adfc;
  border-bottom: 2px solid #5c469c;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.about-page p {
  color: #d4adfc;
  font-size: 16px;
  line-height: 1.5;
}

.about-page .skills-section ul {
  list-style: none;
  padding: 0;
  width: 50%;
  max-width: 300px;
}

.about-page .skills-section li {
  background-color: #5c469c;
  color: #d4adfc;
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
  text-align: center;
}

.about-page .experience-section p {
  margin-bottom: 15px;
}

.about-page .flex-container {
  display: flex;
  justify-content: space-evenly;
}

/*Responsive Design*/
@media only screen and (min-width: 1900px) {
  /* Styles for full desktop screens */
  main .btn:link {
    margin-bottom: 75px;
    margin-top: -120px;
  }

  .top-menu li {
    margin: 0 25px;
    font-size: 14pt;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  /* Styles for tablets */
  .top-menu {
    flex-direction: column;
    align-items: center;
  }

  .top-menu ul {
    margin-top: 10px;
  }

  .top-menu li {
    margin: 0 25px;
    font-size: 18pt;
  }

  main {
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .heading-wrapper {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .heading-wrapper h1 {
    text-align: center;
    margin: 0 auto 40px;
  }

  .heading-wrapper h2 {
    text-align: center;
    margin: 0 auto;
  }

  .image-wrapper {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  main img {
    width: 300px;
    margin: 20px;
  }

  main .btn:link {
    margin: 0 auto 20px;
    width: 100%;
    max-width: 200px;
  }
  .contact-page .contact-box {
    margin-bottom: 50px;
  }

  .about-page .content-wrapper,
  .about-page .about-section,
  .about-page .skills-section,
  .about-page .experience-section {
      width: 100%;
  }

  .about-page .flex-container {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 767px) {
  /* Styles for mobile devices */

  main {
    overflow-x: hidden;
  }
  .top-menu {
    flex-direction: column;
    align-items: center;
  }

  .top-menu ul {
    margin-top: 10px;
  }

  .top-menu li {
    margin-bottom: 10px;
    font-size: 16pt;
  }

  main {
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .heading-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .heading-wrapper h1 {
    text-align: center;
    margin: 0 auto 40px auto;
    width: 90%;
  }

  .heading-wrapper h2 {
    text-align: center;
    margin: 0 auto;
    width: 90%;
  }

  .image-wrapper {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  main img {
    width: 300px;
    margin: 20px;
  }

  main .btn:link {
    margin: 0 auto 20px;
    width: 100%;
    max-width: 200px;
  }

  .contact-page .container {
    justify-content: center;
    margin-top: 50px; /* Adjust the top margin as needed for spacing */
    margin-bottom: 50px; /* Adjust the bottom margin as needed for spacing */
  }

  .contact-box {
    width: 100%;
    max-width: 400px;
    margin: auto;
    margin-bottom: 30px;
  }

  .contact-box h3 {
    font-size: 20px; 
  }

  .contact-box label {
    font-size: 14px; 
  }

  .contact-box .contact-input {
    width: 100%;
    min-width: 100%;
    padding: 8px; 
    font-size: 14px; 
  }

  .contact-box .submit-btn {
    width: 100%;
    font-size: 16px; 
    padding: 12px; 
  }

  .contact-box ul {
    font-size: 14px; 
  }

  .contact-box li {
    margin: 10px auto 20px auto;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px; 
  }

  .carousel-container{
    width: 100%;
  }

  .carousel-btns {
    flex-direction: column;
    align-items: center;
  }

  .prev-btn,
  .next-btn,
  .view-repo-btn {
    margin: 10px 0;
  }

  .about-page .content-wrapper,
  .about-page .about-section,
  .about-page .skills-section,
  .about-page .experience-section {
      width: 100%;
  }

  .about-page .flex-container {
    flex-direction: column;
    align-items: center;
  }
}
