@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  background-color: #1d267d;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.border-container {
  position: relative;
  border: 15px solid #0c134f;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
}

header {
    display: flex;
    justify-content: center;
}

.top-menu {
  display: flex;
  justify-content: center;
  width: max-content;
  background-color: #0c134f;
  padding: 10px 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.top-menu ul {
  list-style: none;
  display: flex;
}

.top-menu li {
  margin: 0 10px;
  font-size: 14pt;
}

.top-menu a {
  text-decoration: none;
  color: #d4adfc;
  padding: 5px 10px;
  border: 2px solid #0c134f;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.top-menu a:hover {
  background-color: #d4adfc;
  color: #5c469c;
}

main {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.container {
  display: flex;
  justify-content: space-between;
}

.contact-page .container {
    justify-content: center;
    margin-top: 80px;
}

main h1 {
  color: #d4adfc;
  filter: drop-shadow(0px 3px 0px #0c134f);
  font-size: 96pt;
  font-weight: 300;
  text-align: left;
  margin-bottom: 40px;
  margin-left: 70px;
}

main h2 {
  color: #d4adfc;
  filter: drop-shadow(0px 3px 0px #0c134f);
  font-size: 24pt;
  font-weight: 300;
  text-align: left;
  width: 70%;
  margin-left: 70px;
  margin-bottom: 30px;
}

.contact-page main {
    margin-top: 100px;
}

.contact-page h2 {
    text-align: center;
    width: 100%;
    margin: auto;
}

.heading-wrapper {
  display: flex;
  flex-direction: column;
  width: 46%;
}

.image-wrapper {
  width: 47%;
  display: flex;
}

main img {
  width: 100%;
  max-width: 350px;
  border-radius: 30px;
  border: 5px solid #0c134f;
}

main .btn:link,
main .btn:visited {
  display: inline-block;
  width: 300px;
  padding: 10px 20px;
  background-color: #5c469c;
  color: #d4adfc;
  text-decoration: none;
  border: 2px solid #0c134f;
  border-radius: 5px;
  margin-left: 70px;
  margin-top: -50px;
  font-size: 22px;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

main .btn:hover {
  background-color: #d4adfc;
  color: #5c469c;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.contact-box {
    background-color: #0c134f;
    height: 300px;
    width: 600px;
    border-radius: 20px;
    margin: auto 50px;
    display: flex;
    justify-content: center;
}

.contact-box h3 {
    color: #d4adfc;
    margin-top: 20px;
}

@media only screen and (min-width: 1200px) {
  /* Styles for full desktop screens */
  main .btn:link {
    margin-bottom: 75px;
  }

  .top-menu li {
    margin: 0 25px;
    font-size: 14pt;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  /* Styles for tablets */
  .top-menu {
    flex-direction: column;
    align-items: center;
  }

  .top-menu ul {
    margin-top: 10px;
  }

  .top-menu li {
    margin: 0 25px;
    font-size: 18pt;
  }

  main {
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .heading-wrapper {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .heading-wrapper h1 {
    text-align: center;
    margin: 0 auto 40px;
  }

  .heading-wrapper h2 {
    text-align: center;
    margin: 0 auto;
  }

  .image-wrapper {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  main img {
    width: 300px;
    margin: 20px;
  }

  main .btn:link {
    margin: 0 auto 20px;
    width: 100%;
    max-width: 200px;
  }
}

@media only screen and (max-width: 767px) {
  /* Styles for mobile devices */
  .top-menu {
    flex-direction: column;
    align-items: center;
  }

  .top-menu ul {
    margin-top: 10px;
  }

  .top-menu li {
    margin-bottom: 10px;
    font-size: 16pt;
  }

  main {
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .heading-wrapper {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .heading-wrapper h1 {
    text-align: center;
    margin: 0 auto 40px;
  }

  .heading-wrapper h2 {
    text-align: center;
    margin: 0 auto;
  }

  .image-wrapper {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  main img {
    width: 300px;
    margin: 20px;
  }

  main .btn:link {
    margin: 0 auto 20px;
    width: 100%;
    max-width: 200px;
  }
}
